/*Servicios*/
main{   
    .p-servicios{
        text-align: center;
        color: $blanco;
        font-size: xx-large;
        margin-top: 20px;
     }  
    .tarjeta1{
        height: 500px;
    }
    .tex1{
        text-align: justify;
    }

}